/* Big Container Properties */

.bigContainer {
    margin: auto;
    justify-content: center;
    text-align: center;
    width: 40rem;
    padding-top: 3rem;
    color: rgb(251, 126, 126);
}

.listContainer {
    box-shadow: #eeefec 0px 0px 20px 10px;
    text-align: left;
    padding: 1rem;
}

.firstLine {
    font-size: 25px;
}

.deleteXmark {
    color: red;
}

.taskCount {
    padding-left: 1rem;
    padding-top: 1rem;
    color: black;
}

.lineItem {
    padding: 1rem;
    border-bottom: 1px solid gray;
    font-size: 20px;
    color: black;
}

#border1 {
    position: relative;
    border: 1px solid rgb(197, 196, 196);
    background-color: #eeefec;
    width: 39rem;
    height: 5px;
    margin-top: -1.4rem;
}

#border2 {
    position: relative;
    border: 1px solid rgb(197, 196, 196);
    background-color: #eeefec;
    width: 38rem;
    height: 5px;
    margin-top: -3.4rem;
}