/* Big Container Properties */

.bigContainer {
    margin: auto;
    justify-content: center;
    text-align: center;
    width: 40rem;
    padding-top: 3rem;
    color: rgb(251, 126, 126);
}

.listContainer {
    border: 1px solid rgb(197, 196, 196);
    box-shadow: #eeefec 0px 0px 20px 10px;
    text-align: left;
    padding: 1rem;
}

.firstLine {
    font-size: 20px;
}

.deleteXmark {
    color: red;
}

.taskCount {
    padding-left: 1rem;
    padding-top: 1rem;
    color: black;
}

.lineItem {
    padding: 1rem;
    border-bottom: 1px solid gray;
    font-size: 15px;
}

#placeholder {
    border-bottom: 1rem;
    padding-bottom: 2rem;
    position: relative;

}